
/* タブ機能関係 */
  #tabss {
    /* 画面の右下に固定 */
    position: fixed;
    right: 20px;
    bottom: 20px;
    
    /* 他の要素より前面に表示 */
    z-index: 9999;
    
    /* 大きさの調整（必要に応じて） */
    /* width: 300px;
    max-width: 90vw; */    
    }

    /* コンテンツ部分が長くなった場合にスクロールできるようにする */
    .ui-tabs-panel {
      max-height: 600px;
      overflow-y: auto;
    }

/* 次問・前問ボタン関係 */
    #buttons {
    /* 画面の右下に固定 */
    position: fixed;
    left: 20px;
    bottom: 20px;
    
    /* 他の要素より前面に表示 */
    z-index: 9999;
    }

    /* 問題文選択肢中つなぎ線 */ 
    .connectLine{         
      text-decoration-line: line-through;
    }

    /* table関係 */ 
    table {
    width: 100%;
    /* table-layout: fixed; */
    border-collapse:  collapse;     /* セルの線を重ねる */
    }
    caption {
      font-weight: bold;
    }
    table.auto-layout {
    table-layout: auto;
    }
    th,td {
    border: solid 1px;              /* 枠線指定 */
    padding: 5px;                   /* セル内余白 */
    }
    td.divider {
    width: 1px;          /* 幅を1pxに固定 */
    padding: 0;          /* 余白を完全に排除 */
    background-color: #ccc; /* 線の色（グレーなど） */
    }
    .tdVertical{                   /* 表内縦書き */   
    /* vertical-align:middle; */
    writing-mode: vertical-lr;  
    }
    tr>*:empty{       /* tableの空白のセルに斜線↗（to left top）をひく https://csshtml.work/table-shasen/ */
    background-image: linear-gradient(to left top, transparent calc(50% - 0.5px), #999 50%, #999 calc(50% + 0.5px), transparent calc(50% + 1px)) !important;
    }

/* ホーム，テーマ，索引ボタン関係 */
    .btn-outline {
    background-color: white; /* 背景を透明に */
    color: #007bff;                /* 文字色を青に */
    border: 2px solid #007bff;    /* 枠線を青に */
    }

    .btn-outline:hover {
    background-color: #007bff;    /* ホバーで塗りつぶす */
    color: white;
    }

/* 索引ページ用（要素を1〜5列に整列させる） */
  /*要素を1〜5列に整列させる*/
    .grid-container {
      display: grid;
      /* 基本は1列（スマホ用） */
      grid-template-columns: 1fr; 
      gap: 15px;
    }

    /* 画面が広くなったら自動計算に切り替える */
    @media (min-width: 400px) {
      .grid-container {
        /* 最小幅18%にすれば、最大5列程度に収まります */
        grid-template-columns: repeat(auto-fit, minmax(18%, 1fr));
      }
    }

/* 一般装飾 */

    /* 赤下線 */
    .underln {
    text-decoration: underline red;
    text-underline-offset:0.2em;
    }

    /* テキストセンター */
    .textcenter{
      text-align: center;      
    }

    /* 太字 */
    .bold{
      font-weight: bold;          
    }

    /* マージン（下）調整 */
    .mb-5  { margin-bottom: 5px; }
    .mb-10 { margin-bottom: 10px; }
    .mb-20 { margin-bottom: 20px; }

     /* マージン（左）調整 */
    .ml-10 { margin-left: 10px; }
    .ml-30 { margin-left: 30px; }
    .ml-50 { margin-left: 50px; }

    /* リンク元の色 */
    a {
      color: #007bff; /* 青色 */
    }    
    a:visited {
      color: #007bff; /* 訪問後も青色のままにする */
    }
